<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sunshine.mall.manager.mapper.ProductMapper">
	<insert id="insertProduct" useGeneratedKeys="true" keyProperty="id"
		keyColumn="id">
		insert into t_mall_product
		values(null,#{product_name},#{product_image},
		#{class_number_1},#{class_number_2},
		#{brand_id},CURRENT_TIMESTAMP(),
		#{product_description})
	</insert>
	
	<insert id="insertProductImageByProductId">
	   insert into t_mall_product_image values
	   <foreach collection="filenamelist" item="image" close=",">
	   (null,1,#{product_id},#{image})
	   </foreach>
	</insert>
</mapper>
